<h2>Event - <%= @event.name %></h2>

<div class="content">
    Date - <%= @event.show_date %><br>
    Time - <%= @event.time %><br>
    Location - <%= @event.location %><br>
    Organisers - <%= @event.organiser.name %><br>
    <i>Sponsored By - <%= @event.sponsor.name %></i><br>
</div>
<br><br>
<% if current_user.events.include? @event %>
    <div class="notice"> 
        Already in the diary - you've signed up this event! 
    </div>
<% elsif @event.date < Date.today %>
    <div class="notice"> 
        This event has already happened - stay tuned for more events from this Organiser! 
    </div>
<% else %>
    <div class="forms">
        <%= form_tag("/bookings", method: "post") do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :event_id, @event.id %>
            Would you like to hear more about events from these organisers? <%= check_box_tag :subscribed %><br><br>
            <%= button_tag "Book this Event" %>
        <% end %>
    </div>
<% end %>
<br><br>
<div class="content">
    <% if current_user.admin %>
        Admin Access: <%= link_to "Check Users in Attendence", event_users_path(@event.id) %>
    <% end %>
</div>